<h1>Logueate</h1>
<form id="reregisterForm">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>



